body {
    font-family: 'Roboto Slab', 'sans-serif';
    font-size: 1.6vh;
    background: #111;
    color: #2A2B2E;
    margin: 0;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #111;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #97939A;
}

/* Conteneur principal pour les colonnes */
.layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* S'adapte à la hauteur de la fenêtre */
}

/* Colonnes gauche et droite */
.column {
  flex: 1; /* Les colonnes gauche et droite s'adaptent */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Colonne centrale contenant le théâtre */
.central-column {
  flex: 2; /* La colonne centrale est plus large */
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-size: 5.6vh;
    margin: 0;
    font-weight: normal;
}

.img_netflix {
    width: 10vh;
    height: 10vh;
}

h2 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-weight: normal;
}

.header {
    display:flex;
    justify-content: space-between;
}

.title, .axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
}


/* Dropdown Button */
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
  }

.toolbar-btn {
width: 20vw;
background-color: #141414;
color: white;
border: 2px solid #e50914;
padding-top: 1vh;
padding-bottom: 1vh;
padding-left: 1vw;
padding-right: 1vw;
font-weight: bold;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.2s ease;
font-size: 1.6vh;
}
  
.toolbar-btn:hover {
    background-color: #e50914;
    color: white;
    border: 2px solid #141414;
}
  
/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #141414;
    border: 1px solid #e50914;
    min-width: 20vw;
    z-index: 1;
    border-radius: 4px;
    margin-top: 0.5vh;
  }
  
  /* Dropdown options */
  .dropdown-option {
    color: white;
    margin: 0px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .dropdown-option:hover {
    background-color: #e50914;
    color: white;
  }
  
  .dropdown-option:active {
    background-color: #b20710; /* Netflix deep red on click */
  }



.container-radar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}



.tick line{
    visibility: hidden;
  }

  .info {
      pointer-events: none;
      font-family: 'Roboto';
  }

  .axis text {
      font-family: 'Roboto';
      cursor: default;
      
  }

  .axis path {
      opacity: 0;
  }

  tr.highlight {
    font-weight: bolder;
    background-color: rgba(255, 0, 0, 0.2);
  }
  
  #country-table {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
    position: relative;
  }
  
 #graph-4 #country-table::-webkit-scrollbar {
  width: 8px !important;
}

#graph-4 #country-table::-webkit-scrollbar-track {
  background: transparent !important;
}

#graph-4 #country-table::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4) !important;
  border-radius: 9999px !important; /* Fully rounded */
  border: 2px solid transparent !important;
  background-clip: content-box !important;
}

#graph-4 #country-table::-webkit-scrollbar-button {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

/* Design du cinéma*/
.theatre {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cinema-seats {
  display: flex;
}

/* Left Seats*/
.left {
  
  .cinema-row {
    transform: skew(-15deg);
    margin: 0 6px;
  }

  .seat {
    width: 45px;     
    height: 65px;   
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 12px;  /* Légèrement augmenté pour l'espacement */
    transform: skew(20deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  .row-2 {
    transform: skew(-13deg);

    .seat {
      transform: skew(18deg);
    }
  }

  .row-3 {
    transform: skew(-12deg);

    .seat {
      transform: skew(16deg);
    }
  }

  .row-4 {
    transform: skew(-11deg);

    .seat {
      transform: skew(15deg);
    }
  }

  .row-5 {
    transform: skew(-10deg);

    .seat {
      transform: skew(12deg);
    }
  }

  .row-6 {
    transform: skew(-9deg);

    .seat {
      transform: skew(10deg);
    }
  }

  .row-7 {
    transform: skew(-7deg);

    .seat {
      transform: skew(8deg);
    }
  } 
}





/* Left Seats*/
.right {
  margin-left: 90px;  /* Augmenté de 70px à 90px pour compenser les sièges plus larges */
  
  .cinema-row {
    transform: skew(7deg);
    margin: 0 6px;
  }

  .seat {
    width: 45px;     /* Augmenté de 35px à 45px */
    height: 65px;    /* Augmenté de 50px à 65px */
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 12px;  /* Légèrement augmenté pour l'espacement */
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  
  .row-2 {
    transform: skew(9deg);

    .seat {
      transform: skew(-10deg);
    }
  }

  .row-3 {
    transform: skew(10deg);

    .seat {
      transform: skew(-12deg);
    }
  }

  .row-4 {
    transform: skew(11deg);

    .seat {
      transform: skew(-15deg);
    }
  }

  .row-5 {
    transform: skew(12deg);

    .seat {
      transform: skew(-16deg);
    }
  }

  .row-6 {
    transform: skew(13deg);

    .seat {
      transform: skew(-18deg);
    }
  }

  .row-7 {
    transform: skew(15deg);

    .seat {
      transform: skew(-20deg);
    }
  } 
}


.cinema-screen {
  position: absolute;
  width: 900px;
  height: 410px;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  border-radius: 3px;
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.5);
  transform: perspective(800px) rotateX(-3deg);
  border: 1px solid #444;
  top: -450px;
  left: 50%;
  transform-origin: center bottom;
  margin-left: -450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* Cette partie assure que les SVG s'adaptent correctement à l'écran */
.cinema-screen svg {
  width: 95%;
  height: 95%;
  background-color: transparent;
}
.button-container {
  z-index: 99;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les boutons */
  padding: 10px;
}

.button-container button {
  width: 120%;
}


#screen {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  justify-items: center;
  align-items: center;
  padding: 10px;
  row-gap: 5px;
}

.container-radar {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container.active {
  z-index: 2;
  opacity: 0.9;
  margin-right: -25%;
  width: 70%;
  height: 500px;
  overflow-y: scroll;
  background-color: #ffffff;
  border-radius: 5px;
}

.table-container{
  opacity: 0;
  z-index: 0;
}